/* Effective stylesheet produced by snapshot save */
body, p, blockquote { margin: 0px; padding: 0px; }
a img, iframe { border: medium none; }
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; font-size: 100%; }
ul, ol, dl, li, dt, dd { margin: 0px; padding: 0px; }
a, a:link {  }
a:visited {  }
a:hover {  }
a:active {  }
input, textarea, select { margin: 0px; padding: 1px; font-size: 100%; font-family: inherit; }
select { padding: 0px; }
