/* Effective stylesheet produced by snapshot save */
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix {  }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-widget { font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid rgb(166, 201, 226); background: url("ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x scroll 50% bottom rgb(252, 253, 253); color: rgb(34, 34, 34); }
.ui-widget-content a { color: rgb(34, 34, 34); }
.ui-widget-header { border: 1px solid rgb(66, 151, 215); background: url("urn:not-loaded:http://css.us.ipstatic.net/images/jquery-ui/redmond/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% rgb(92, 156, 204); color: rgb(255, 255, 255); font-weight: bold; }
.ui-widget-header a { color: rgb(255, 255, 255); }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid rgb(197, 219, 236); background: url("urn:not-loaded:http://css.us.ipstatic.net/images/jquery-ui/redmond/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% rgb(223, 239, 252); font-weight: bold; color: rgb(46, 110, 158); }
.ui-widget :active { outline: 0px none; }
.ui-icon { width: 16px; height: 16px; background-image: url("urn:not-loaded:http://css.us.ipstatic.net/images/jquery-ui/redmond/ui-icons_469bdd_256x240.png"); }
.ui-widget-content .ui-icon { background-image: url("urn:not-loaded:http://css.us.ipstatic.net/images/jquery-ui/redmond/ui-icons_469bdd_256x240.png"); }
.ui-widget-header .ui-icon { background-image: url("urn:not-loaded:http://css.us.ipstatic.net/images/jquery-ui/redmond/ui-icons_d8e7f3_256x240.png"); }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 5px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 5px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 5px; }
.ui-resizable { position: relative; }
.ui-resizable-handle { position: absolute; font-size: 0.1px; display: block; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }
.ui-button { display: inline-block; position: relative; padding: 0px; margin-right: 0.1em; text-decoration: none ! important; cursor: pointer; text-align: center; overflow: visible; }
.ui-button .ui-button-text { display: block; line-height: 1.4; }
.ui-button-text-only .ui-button-text { padding: 0.4em 1em; }
button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
.ui-dialog { position: absolute; padding: 0.2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: 0.4em 1em; position: relative; }
.ui-dialog .ui-dialog-title { float: left; margin: 0.1em 16px 0.1em 0px; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 0.3em; top: 50%; width: 19px; margin: -10px 0px 0px; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0px; }
.ui-dialog .ui-dialog-content { position: relative; border: 0px none; padding: 0.5em 1em; background: none repeat scroll 0px center transparent; overflow: auto; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0px 0px; background-image: none; margin: 0.5em 0px 0px; padding: 0.3em 1em 0.5em 0.4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: 0.5em 0.4em 0.5em 0px; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-notify { width: 350px; position: fixed; top: 10px; right: 10px; }
a { color: rgb(71, 112, 153); text-decoration: none; }
a:hover { text-decoration: underline; }
#notifCont { text-align: left; }
* { margin: 0px; padding: 0px; }
body { background: url("bg2.png") repeat-x scroll 0px 0px rgb(208, 225, 255); margin: 0px; }
body, p, td, .normalText, .normalText li, .normalText ul { font-family: Tahoma,Helvetica,sans-serif,Arial; font-size: 12px; color: rgb(34, 34, 34); text-decoration: none; }
.clearfix:after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
#page { width: 90%; min-width: 1000px; max-width: 1200px; margin: 4px auto; }
form { margin: 0px; padding: 0px; }
form label { color: rgb(102, 102, 102); font-weight: bold; font-size: 11px; }
label { color: gray; }
td.label, td { text-align: left; }
a, .clickable { color: rgb(38, 101, 200); text-decoration: none; outline: 0px none; }
.clickable { cursor: pointer; }
a:visited { color: rgb(96, 136, 200); }
a:active { color: rgb(0, 0, 255); }
a:hover { color: rgb(0, 0, 255); }
img { border: 0px none; vertical-align: middle; }
h1 { margin: 0px; padding: 0px; font-size: 14px; color: rgb(0, 93, 229); }
h2 { font-size: 12px; margin: 0px 0px 3px; padding: 3px; color: rgb(102, 102, 153); border-bottom: 1px solid rgb(216, 223, 234); }
h3 { font-size: 11px; margin: 0px 0px 3px; font-weight: bold; padding: 3px; color: rgb(102, 102, 153); }
h1, h2, h3, h4, h5, h6 { font-family: Tahoma,Helvetica,sans-serif,Arial; }
strong, em, b, i { font-family: Tahoma,Helvetica,sans-serif,Arial; }
#mc_box { text-align: center; min-width: 1000px; max-width: 1200px; margin: 0px; }
#gradBgBox { clear: left; overflow: hidden; text-align: left; padding: 0px; width: 100%; min-width: 1000px; background: url("grad-fff-E3ECFF-15.png") repeat-x scroll 0px 0px rgb(255, 255, 255); }
#mainContainer { font-family: Tahoma,Helvetica,sans-serif,Arial; margin: 15px 0px 5px 5px; overflow: hidden; }
input[type="checkbox"], input[type="radio"] { margin: 3px; }
input[type="text"], input[type="password"] { border: 1px solid rgb(189, 199, 216); padding: 3px; font-size: 11px; font-family: Tahoma,Helvetica,sans-serif,Arial; }
button, input[type="submit"], input[type="button"] { border: 1px solid rgb(110, 137, 188); padding: 3px 10px; margin: 3px; text-align: center; color: rgb(34, 34, 34); font-size: 12px; line-height: 16px; font-family: Tahoma,Helvetica,sans-serif,Arial; background: url("urn:not-loaded:http://css.us.ipstatic.net/images/sbbg3.png") repeat-x scroll center center rgb(255, 255, 255); border-radius: 5px 5px 5px 5px; }
button:hover, input[type="submit"]:hover, input[type="button"]:hover { border: 1px solid rgb(51, 111, 170); background: url("urn:not-loaded:http://css.us.ipstatic.net/images/sbbg4.png") repeat-x scroll center center rgb(255, 255, 255); }
button:active, input[type="submit"]:active, input[type="button"]:active { border: 1px solid rgb(52, 71, 90); background: none repeat scroll 0% 0% rgb(204, 204, 204); }
.yellowFooter { background: none repeat scroll 0% 0% rgb(146, 186, 255); color: rgb(255, 255, 255); padding: 5px; text-align: center; }
#top_nav { clear: left; width: 100%; background: url("tn_bg.png") repeat-x scroll 0px 100% rgb(169, 210, 255); height: 27px; padding: 0px; border-bottom: 1px solid rgb(255, 255, 255); overflow: hidden; }
#tn_cont2 { float: left; left: 50%; position: relative; }
#tn_cont { text-align: center; overflow: hidden; margin: auto; position: relative; float: left; left: -50%; }
#top_nav a { border: 0px none; margin: 0px; font-size: 14px; font-weight: bold; padding: 2px 15px 0px; color: rgb(255, 255, 255); display: block; float: left; height: 24px; line-height: 18px; }
.bb { width: 22px; height: 22px; overflow: hidden; margin-right: 5px; float: left; }
.bb_cont { background: url("bb-spr.png") no-repeat scroll 4px 0px transparent; }
#bb1 { background-position: 0px 0px; }
#bb2 { background-position: 0px -23px; }
#bb3 { background-position: 0px -46px; }
#bb4 { background-position: 0px -69px; }
#bb5 { background-position: 0px -92px; }
#bb6 { background-position: 0px -115px; }
:first-child + html #top_nav a { height: 24px; padding-top: 2px; margin: 0px; }
#top_nav a:hover { background: url("urn:not-loaded:http://css.us.ipstatic.net/images/tn_bg2.png") repeat-x scroll 0px 100% rgb(126, 182, 248); border: 0px none; color: rgb(255, 255, 255); }
#top_nav a:active { color: rgb(186, 213, 240); }
h1 img { vertical-align: middle; }
.topLogo { float: left; overflow: hidden; text-align: center; height: 100px; }
.nobreak { white-space: nowrap; }
img.langFlag { margin-right: 4px; }
#wideRightBar, #profRightBar { float: right; margin: 1px 1px 1px 8px; overflow: hidden; width: 360px; clear: right; }
#logoAdBar { clear: both; overflow: hidden; height: 100px; margin: 0px auto; }
#logoAdBar.withLogin { width: 850px; }
.botRectAd { width: 338px; height: 282px; margin: 20px auto 0px; }
#topLogin { font: 14px/20px "Helvetica Neue",sans-serif; float: right; margin: 10px 0px 0px; }
#topLogin td { padding-left: 10px; }
#topLogin label, #topLogin a, #topLogin input { font: 14px/20px "Helvetica Neue",sans-serif; }
#topLogin input[type="submit"], #suBox input[type="submit"] { color: rgb(255, 255, 255); background: linear-gradient(to bottom, rgb(122, 188, 255) 0px, rgb(96, 171, 248) 44%, rgb(64, 150, 238) 100%) repeat scroll 0% 0% transparent; }
#topLogin input[type="submit"]:hover, #suBox input[type="submit"]:hover { background: linear-gradient(to bottom, rgb(30, 87, 153) 0px, rgb(41, 137, 216) 50%, rgb(32, 124, 202) 51%, rgb(125, 185, 232) 100%) repeat scroll 0% 0% transparent; }
.cCont { overflow: hidden; }
.cOut { float: left; position: relative; left: 50%; }
.cIn { float: left; position: relative; left: -50%; }
#browserWarning { display: none; }
.bottomNav { text-align: left; background: none repeat scroll 0% 0% rgb(184, 208, 250); }
.bottomNavCont { width: 970px; margin: auto; padding-top: 15px; }
.bottomNav .bnavSection { float: left; overflow: hidden; padding: 0px 20px; }
.bnavSection a { display: block; color: rgb(68, 68, 68); line-height: 18px; }
.bnavSection a:hover { color: rgb(153, 153, 153); text-decoration: underline; }
.bnavSection h2 { padding: 5px 0px; color: rgb(51, 51, 51); width: 150px; border-bottom: 3px solid rgb(206, 222, 251); }
.copy { width: 925px; color: rgb(68, 68, 68); height: 20px; text-align: center; padding: 25px 10px 10px; clear: both; }
.copy a { color: rgb(102, 102, 102); }
#profRightBar { width: 360px; }
#profBody { overflow: hidden; }
#profBodyTop { min-width: 575px; max-width: 600px; margin: auto; overflow: hidden; }
.profileBox { margin: 0px 0px 0px 15px; float: left; font-size: 12px; color: rgb(51, 51, 51); width: 320px; overflow: hidden; }
.profileBox p { margin: 5px 0px; font-size: 12px; }
.profDataTopField { overflow: hidden; padding-bottom: 5px; border-bottom: 1px solid rgb(238, 238, 255); margin-bottom: 5px; }
.profDataTopField h3 { float: left; width: 80px; word-wrap: break-word; }
.profDataTopData { padding-top: 3px; float: left; width: 255px; overflow: hidden; font-size: 12px; word-wrap: break-word; }
.profLang { white-space: nowrap; display: block; width: 125px; float: left; height: 18px; overflow: hidden; }
.prLangName { float: left; }
.proflLevel { display: block; float: left; margin-left: 5px; margin-top: 3px; }
.profDataTop { width: 372px; }
#profPhotos { width: 230px; float: left; text-align: center; }
#profPhotos a.profPhotoLink { border: 1px solid rgb(204, 204, 204); margin: 2px; background: none repeat scroll 0% 0% rgb(255, 255, 255); display: inline-block; }
#profPhotos a { color: rgb(9, 146, 76); line-height: 18px; margin: 5px; }
#profPhotos a.profPhotoLink:hover { border: 1px solid rgb(12, 206, 107); }
#profPhotos a.mainPhoto:hover { border: 0px none; }
#profPhotos img { margin: 3px; }
.profBotStat { padding: 5px 5px 5px 50px; color: rgb(102, 102, 102); width: 400px; }
.lfor { font-family: verdana; font-size: 11px; color: rgb(85, 85, 85); }
.profRightMap { width: 340px; height: 180px; float: left; margin-top: 0px; border-radius: 12px 12px 12px 12px; }
#profRightMapTxt { text-align: center; font-family: Tahoma,Helvetica,sans-serif,Arial; font-size: 12px; line-height: 18px; }
#profPhotos a.mainPhoto { border: 0px none; }
