/* Effective stylesheet produced by snapshot save */
.inlineBlock { display: inline-block; }
.noFooter #pageFooter { display: none; }
#mainContainer { margin-left: -1px; display: block; width: 100%; }
#leftCol { display: none; float: left; padding: 20px 0px 0px 2px; position: relative; width: 179px; word-wrap: break-word; }
#rightCol { margin-top: -10000px; float: right; padding-right: 0px; width: 244px; word-wrap: break-word; }
.hasRightCol #rightCol { margin-top: 0px; }
#contentCol { background-color: rgb(255, 255, 255); padding-top: 15px; }
#contentArea { margin-right: -1px; outline: medium none; padding-left: 1px; word-wrap: break-word; }
.hasLeftCol #contentArea, .hasRightCol #contentArea { float: left; margin-right: 0px; }
.hasRightCol #contentArea { width: 714px; }
#bottomContent { clear: both; padding: 0px 20px 12px; }
._46-h { overflow: hidden; position: relative; }
._46-i { position: absolute; }
.fbPrivacyAudienceIndicator:hover { text-decoration: none; cursor: default; }
.uiStreamAdditionalLogging .lock, .fbStreamPrivacy .lock { bottom: -1px; margin-bottom: -5px; position: relative; vertical-align: top; }
.UFICommentActorName { font-weight: bold; }
.UFICommentActions { clear: both; padding-top: 2px; }
.UFIRow .UFICommentCloseButton { display: block; opacity: 0; position: relative; z-index: 1; }
.openToggler .UFICommentCloseButton, .UFIRow:hover .UFICommentCloseButton, .UFIRow .UFICommentCloseButton:focus { opacity: 1; outline: medium none; }
.UFIRow .UFIImageBlockImage { margin: 0px; }
.UFIRow .UFIImageBlockContent { margin: 0px; padding: 0px 0px 0px 8px; }
@keyframes rotateSpinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.uiCloseButton { cursor: pointer; display: inline-block; margin: 0px; padding: 0px; }
.uiCloseButton { background-image: url("4WSewcWboV8.png"); background-repeat: no-repeat; height: 15px; width: 15px; }
.uiCloseButton:hover, .uiCloseButton:focus { background-position: left -32px; }
.uiCloseButton:active { background-position: left -48px; }
.uiCloseButtonHighContrast { display: none; }
a._p { display: block; }
