/* Effective stylesheet produced by snapshot save */
.permalinkBody._57_t .hasRightCol #rightCol { background-color: rgb(255, 255, 255); border: 1px solid rgb(196, 205, 224); border-radius: 4px 4px 4px 4px; padding: 0px 3px 1px; width: 244px; }
.permalinkBody._57_t .hasRightCol #contentArea { width: 623px; }
.permalinkBody._57_t .rhcFooterWrap { padding-bottom: 10px; }
body.permalinkBody { background-color: rgb(231, 235, 242); }
body.permalinkBody #globalContainer { margin-top: 40px; min-width: 889px; width: 889px; }
.permalinkBody #mainContainer { margin-bottom: 50px; width: 100%; }
.permalinkBody #contentCol { background-color: transparent; }
.permalinkBody .hasRightCol #rightCol { width: 243px; }
.permalinkBody .hasRightCol #contentArea { border: 1px solid rgb(196, 205, 224); border-radius: 4px 4px 4px 4px; width: 624px; background-color: rgb(255, 255, 255); padding: 0px 3px 1px; }
.permalinkBody .permalink_stream .uiStream .uiStreamMessage, .permalinkBody .permalink_stream .uiStream .uiStreamAttachments { padding-left: 15px; padding-right: 20px; }
.permalinkBody .permalink_stream .uiStream .uiStreamMessage { font-size: 13px; line-height: 18px; }
.permalinkBody .permalink_stream .fbStreamPermalinkHeader { border-bottom: 1px solid rgb(233, 233, 233); margin: 15px; padding-bottom: 10px; }
.permalinkBody .permalink_stream .uiStream .uiStreamStory .mainWrapper { margin-bottom: 4px; margin-right: 0px; padding-top: 0px; }
.permalinkBody .uiCommentContainer { margin-bottom: -2px; }
.permalinkBody .uiStreamRedesign .uiCommentContainer { margin-bottom: -4px; }
.permalinkBody .fbTimelineUFI { margin-top: 7px; }
.permalinkBody .permalink_stream .subscribeOrLikeSentence, .permalinkBody .permalink_stream .uiStreamPassive, .permalinkBody .permalink_stream .uiStreamHeadline { color: rgb(153, 153, 153); font-weight: normal; }
.permalinkBody .permalink_stream .uiStreamPrivacy .img, .permalinkBody .permalink_stream .uiStreamSecondaryTime .img { margin-top: 2px; }
.permalinkBody .uiStreamSource { font-size: 11px; }
.permalinkBody .permalinkHeaderContent { margin-left: 60px; }
.permalinkBody .permalinkHeaderContent .permalinkHeaderContentText { max-width: 447px; }
.permalinkBody .permalinkHeaderInfo { max-width: 370px; }
