/* Effective stylesheet produced by snapshot save */
.menu_login_container table tr { vertical-align: top; }
.menu_login_container table tr td { padding: 0px 0px 0px 14px; }
.menu_login_container .html7magic { padding-bottom: 4px; }
.menu_login_container .inputtext, .menu_login_container .inputpassword { border-color: rgb(29, 42, 91); margin: 0px; width: 142px; }
.menu_login_container .login_form_label_field label, .menu_login_container .login_form_label_field a { color: rgb(152, 169, 202); font-weight: normal; }
.menu_login_container .login_form_label_field { padding-top: 4px; }
.menu_login_container .html7magic label { color: rgb(255, 255, 255); font-weight: normal; padding-left: 1px; }
.menu_login_container #email { direction: ltr; }
.loggedout_menubar_container { background-color: rgb(59, 89, 152); height: 82px; min-width: 980px; }
.loggedout_menubar { margin: 0px auto; padding-top: 13px; width: 980px; }
.loggedout_menubar .fb_logo { margin-top: 17px; }
.signupBanner div.signup_bar_container { background-color: transparent; }
.signupBanner .signup_box { margin: 0px auto; padding: 0px; position: relative; width: 980px; }
.signupBanner .signup_btn { left: 180px; position: absolute; top: -42px; }
.sp_2xp1ac { background-image: url("BE57I-Gef_l.png"); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 21px; width: 11px; }
.sx_f72f28 { width: 170px; height: 36px; background-position: 0px -481px; }
.UIPage_LoggedOut .UIFullPage_Container, .UIPage_LoggedOut .UIStandardFrame_Container { margin-top: 26px; }
