/* Effective stylesheet produced by snapshot save */
@import url("dgx.css");
.pun TABLE, .pun DIV, .pun FORM, .pun P, .pun H1, .pun H2, .pun H3, .pun H4, .pun PRE, .pun BLOCKQUOTE, .pun UL, .pun OL, .pun LI, .pun DL, .pun DT, .pun DD, .pun TH, .pun TD, .pun FIELDSET, .pun IMG { margin: 0px; padding: 0px; font-weight: normal; }
.pun IMG { border: medium none; }
.pun INPUT, .pun SELECT, .pun TEXTAREA, .pun OPTGROUP { margin: 0px; }
.pun .clearer, .pun .nosize { height: 0px; width: 0px; line-height: 0; font-size: 0px; overflow: hidden; }
.pun .clearer, .pun .clearb { clear: both; }
.inbox .postleft dl, .inbox .postfootleft { font-size: 70%; color: gray; }
.inbox .postleft dt { font-size: 142%; }
DIV > DIV > DIV.postfootleft, DIV > DIV > DIV.postfootright { padding-top: 1px; margin-top: -1px; }
.pun, .pun .inbox, .pun .inform, .pun .intd, .pun .tclcon { min-height: 1px; }
#brdfooter H2, #brdstats H2, #brdstats .conl DT, #brdstats .conr DT, #modcontrols DT, #searchlinks DT, DIV.postright H3 { position: absolute; display: block; overflow: hidden; width: 1em; left: -999em; }
.conr { float: right; text-align: right; clear: right; width: 40%; }
.conl { float: left; width: 55%; overflow: hidden; white-space: nowrap; }
DIV.postleft, DIV.postfootleft { float: left; width: 13em; overflow: hidden; position: relative; }
DIV.postright, DIV.postfootright { border-left-width: 13em; border-left-style: solid; }
DIV.postfootright, P.multidelete { text-align: right; }
DIV.blockpost > DIV > DIV.inbox { padding-bottom: 1px; }
DIV.postmsg { width: 100%; }
#onlinelist DD, #onlinelist DT, #brdmenu LI, DIV.linkst LI, DIV.linksb LI, DIV.postlinksb LI, DIV.postfootright LI { display: inline; height: 0px; margin-right: 1em; }
#qjump SELECT { width: 50%; }
