/* Effective stylesheet produced by snapshot save */
input, textarea, select { font-family: Verdana,Arial,sans-serif; font-size: 11px; }
BODY { font: 10pt Arial; }
TD { font: 11pt Arial; }
#footer { text-align: center; }
.location .arrow { font-size: 14px; }
