/* Effective stylesheet produced by snapshot save */
.d-k-l { position: relative; display: inline-block; }
* html .d-k-l, :first-child + html .d-k-l { display: inline; }
.d-xc-ba { margin: 0px; cursor: default; }
.Nn { height: 44px; }
.Uc { background-color: rgb(245, 245, 245); -moz-box-sizing: border-box; height: 44px; z-index: 11; }
.GY { background-color: rgb(245, 245, 245); height: 44px; }
.Uc.ZJ { left: 1px; position: fixed; right: 0px; top: 0px; }
.Uc.YJ { background-color: rgb(255, 255, 255); }
.Uc.pr, .Hg .Uc { box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); }
.Uc.pr { transition: top 0.15s ease 0s; }
.Zi { transition: padding-right 0.15s cubic-bezier(0, 1.12, 0.39, 0.98) 0s; display: table; margin: 0px auto; }
.b-c { border-radius: 2px 2px 2px 2px; cursor: default; font-size: 12px; font-weight: bold; text-align: center; white-space: nowrap; margin-right: 16px; height: 28px; line-height: 28px; min-width: 54px; outline: 0px none; padding: 0px 8px; }
.b-c-ca { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , transparent, transparent); color: rgb(64, 64, 64); border: 1px solid rgba(0, 0, 0, 0.15); }
.b-c-ca:active, .b-c-ca.b-c-u:active { box-shadow: 0px 2px 0px rgb(221, 221, 221) inset; background: none repeat scroll 0% 0% rgb(229, 229, 229); }
.b-c-ca:focus { border: 1px solid rgb(217, 217, 217); outline: 4px solid rgb(199, 220, 252); }
.b-c-Wa { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); background-color: rgb(215, 61, 50); background-image: -moz-linear-gradient(center top , transparent, transparent); border: 1px solid transparent; color: rgb(255, 255, 255); text-shadow: 0px 1px rgba(0, 0, 0, 0.1); text-transform: none; }
.b-c-Wa:focus { box-shadow: none; border: 1px solid transparent; outline: 4px solid rgb(199, 220, 252); }
.b-c-Wa:active { box-shadow: 0px 1px 0px rgb(154, 51, 35) inset; background-color: rgb(190, 62, 46); background-image: -moz-linear-gradient(center top , transparent, transparent); border-right: 1px solid transparent; border-width: 1px; border-style: solid; border-color: rgb(154, 51, 35) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.b-c-R { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , transparent, transparent); color: rgb(64, 64, 64); border: 1px solid rgba(0, 0, 0, 0.15); }
.b-c-R:active, .b-c-R.b-c-u:active { box-shadow: 0px 2px 0px rgb(221, 221, 221) inset; background: none repeat scroll 0% 0% rgb(229, 229, 229); color: rgb(38, 38, 38); }
.b-c-R:focus { border: 1px solid rgb(217, 217, 217); outline: 4px solid rgb(199, 220, 252); }
.o-Bd { height: 1px; overflow: hidden; position: absolute; top: -1000em; width: 1px; }
.d-s, .o-U-s { color: rgb(66, 127, 237); cursor: pointer; }
.d-s:hover, .o-U-s:hover { text-decoration: underline; }
.Mb .d-s, .Mb .d-s-I { outline: medium none; }
button, input, select, textarea { font-family: inherit; }
h1, h2 { border: 0px none; margin: 0px; }
img { border: 0px none; }
a { color: rgb(66, 127, 237); cursor: pointer; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
.ss { height: 30px; left: -100px; position: absolute; top: -100px; width: 30px; }
.Ld { border-radius: 2px 2px 2px 2px; }
.go, .ho { border-radius: 2px 2px 2px 2px; }
.Ee { border-radius: 3px 3px 3px 3px; -moz-box-sizing: border-box; background-color: rgb(255, 255, 255); border-right: 1px solid rgb(216, 216, 216); border-left: 1px solid rgb(216, 216, 216); border-style: solid; border-color: rgb(216, 216, 216); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px 2px; vertical-align: top; }
.Gi { color: rgb(38, 38, 38); font-size: 12px; position: relative; }
.zj, .Xc { background-color: rgb(255, 255, 255); bottom: 0px; }
.zj { font-size: 20px; font-weight: 300; padding-right: 10px; }
.ps { color: rgb(38, 38, 38); font-size: 15px; margin: 0px 0px 15px; }
.aZ { font-size: 12px; margin: -11px 0px 15px; }
.he { padding: 20px; vertical-align: top; white-space: normal; }
.he:focus { outline: medium none; }
.he { transition: margin-right 0.15s cubic-bezier(0, 1.12, 0.39, 0.98) 0s; }
.jw { display: inline-block; vertical-align: top; }
.am + .am { margin-left: 20px; }
.Yc { width: 440px; }
.Td { min-width: 0px; }
.QA { margin: 0px; position: relative; width: auto; }
.Yo { border-top: 0px none; clear: both; margin-top: 0px; min-height: 100%; position: relative; width: 100%; }
.N3 { position: fixed; width: 100%; z-index: 985; }
.mw { background-color: inherit; border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: transparent -moz-use-text-color transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.Dh { height: 100%; vertical-align: top; }
.Dh:focus { outline: medium none; }
.Lv { left: 0px; position: fixed; top: 0px; width: 100%; }
.Z0 { bottom: 134px; min-width: 0px; position: absolute; top: 0px; width: 100%; }
.t3 { border-radius: 0px 0px 0px 3px; background-color: rgb(229, 229, 229); border-width: medium 0px medium medium; border-style: none; border-color: -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; bottom: 0px; left: 0px; margin: 0px; position: absolute; right: 0px; top: 0px; }
.u3 { overflow: hidden; }
.P3 { transition: top 0.15s ease 0s; }
.V3 { left: -1000px; position: absolute; }
.XN { transition: top 0.15s ease 0s; }
.Lv .gd { box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); height: 24px; min-width: 200px; padding: 9px 15px 0px; }
.Yo { min-width: 560px; }
.mw { border-top: 0px none; }
.d-xc-ba { background: none repeat scroll 0% 0% rgb(245, 245, 245); border-right: 0px none; border-left: 0px none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px; border-style: solid none; border-color: rgb(223, 223, 223) -moz-use-text-color; cursor: default; font: 10pt Arial,sans-serif; padding: 0px 5px 0px 10px; list-style: none outside none; outline: medium none; clear: both; }
.d-xc-ba-da { clear: both; height: 0px; overflow: hidden; }
.d-xc-ba-Zb:after { content: " "; display: block; height: 0px; clear: both; visibility: hidden; }
.d-xc-ba-Zb .d-xc-L { background: none repeat scroll 0% 0% transparent; border-left: medium none; border-right: medium none; border-width: medium; border-style: none; border-color: -moz-use-text-color; z-index: 1; }
.d-xc { background: none repeat scroll 0% 0% transparent; border-left: medium none; border-right: medium none; border-width: medium medium 0px; border-style: none; border-color: -moz-use-text-color; cursor: default; color: rgb(102, 102, 102); margin: 0px 0px 0px -1px; top: 1px; font-size: 15px; }
.d-xc-ba-Zb .d-xc { float: left; }
.d-xc-ha { padding: 7px 12px; }
.d-xc-ha-Rm { padding: 7px 12px; font-weight: bold; margin-top: -30px; visibility: hidden; }
.d-xc:focus { outline: medium none; }
.d-xc-u, .d-xc:focus { background-color: transparent; border-left: medium none; border-right: medium none; border-top: medium none; cursor: pointer; z-index: 2; }
.d-xc-u, .d-xc:focus { color: rgb(221, 75, 57); }
.d-xc-L .d-xc-ha { background: none repeat scroll 0% 0% transparent ! important; color: rgb(221, 75, 57); font-weight: bold; top: 1px; }
.d-xc-ba-Zb .d-xc { vertical-align: bottom; }
.oe, .yf, .xf { position: relative; line-height: 100%; }
.oe, .yf, .xf { min-height: 1.375em; }
.oe .gd, .yf .gd, .xf .gd { font-weight: bold; text-align: center; }
.oe .ls, .oe .ks { border-top-color: rgb(255, 241, 168); border-bottom-color: rgb(255, 241, 168); }
.oe .gd { background: none repeat scroll 0% 0% rgb(255, 241, 168); border-color: rgb(255, 241, 168); color: rgb(0, 0, 0); }
.oe, .yf, .xf { padding: 0px; z-index: auto; }
.oe .gd, .yf .gd, .xf .gd { font-size: 13px; padding: 2px 15px; }
.oe .d-k-l, .yf .d-k-l, .xf .d-k-l { pointer-events: auto; z-index: 1111; }
body { background-color: rgb(229, 229, 229); font: 13px Roboto,arial,sans-serif; height: 100%; margin: 0px; overflow-y: scroll; visibility: visible; }
.JB { text-align: center; }
.gd { border: 3px solid transparent; border-radius: 3px 3px 3px 3px; }
@keyframes ozPhotosCommonCfcEffectAnimation {
  0% { transform: scale(1); }
  70% { transform: scale(1.08); }
  100% { transform: scale(1.06); }
}
.Psc { float: right; }
@keyframes ozPhotosWhatsNewCoverAnimation {
  0% { opacity: 1; transform: translate(0px, 0px); animation-timing-function: linear; }
  88% { opacity: 1; transform: translate(0px, -930px); animation-timing-function: ease-out; }
  91% { opacity: 1; transform: translate(0px, -950px); animation-timing-function: linear; }
  96% { opacity: 1; transform: translate(0px, -950px); animation-timing-function: linear; }
  98% { opacity: 0; transform: translate(0px, -950px); animation-timing-function: ease; }
  99% { opacity: 0; transform: translate(0px, 0px); animation-timing-function: ease; }
}
.sga { color: rgb(64, 64, 64); font: 13px Roboto,arial,sans-serif; }
.Mpb { color: rgb(64, 64, 64); font: 13px Roboto,arial,sans-serif; margin: 0px 0px 27px; }
.sga { margin: 0px 0px 27px; }
.flb, .Eab { display: inline-block; }
.flb, .Eab { color: rgb(38, 38, 38); font: 300 20px Roboto,arial,sans-serif; }
.elb, .Dab, .Fla > .Cab { color: rgb(38, 38, 38); font-size: 13px; }
.Dab { margin-bottom: 25px; margin-top: -16px; }
.GRb { margin: 0px; }
.euc { margin-top: 32px; }
.ilb { margin-top: 32px; text-align: center; }
.Ue { border-width: 1px 1px 2px; border-style: solid; border-color: rgb(216, 216, 216); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 3px 3px 3px 3px; background-color: rgb(255, 255, 255); margin: 10px 0px 20px; padding: 20px; }
.Kg { margin-top: 20px; }
.Ni { display: inline-block; margin: 0px; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; }
.Ue .b-c { cursor: pointer; margin-right: 0px; }
.Ni { -moz-box-sizing: border-box; font: 300 20px Roboto,arial,sans-serif; max-width: 100%; padding-right: 80px; position: relative; white-space: normal; }
.kk { border: 0px none; min-height: 185px; position: relative; width: auto; }
.kk .Ni { background-color: transparent; color: rgb(255, 255, 255); padding-right: 100px; top: 0px; vertical-align: baseline; font-size: 13px; font-weight: bold; }
.kk .p5 { float: none; margin-top: 25px; }
.kk .aI { position: absolute; right: 0px; top: 0px; }
.nja { outline: medium none; }
.rt { position: relative; }
.rt .aI { position: absolute; right: 0px; top: 0px; }
.rt .zj { background-color: transparent; color: rgb(255, 255, 255); display: inline-block; font-size: 12px; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.rt .ps { color: rgb(255, 255, 255); font: 300 20px Roboto,arial,sans-serif; }
.Yc .rt .ps { max-width: 290px; }
.Ue.M3c { background-color: rgb(83, 169, 63); }
.M3c .aI { background: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/promos-db812abbc1777936b104901612f3e7c0.png") no-repeat scroll 0px -326px transparent; height: 162px; width: 150px; }
.n7c { transition: opacity 1s ease 0s; -moz-box-sizing: border-box; border: 0px none; bottom: 0px; margin: 0px; overflow: visible; padding: 0px; position: fixed; right: 0px; width: 260px; z-index: 983; }
.n7c.Oua { bottom: auto; height: auto; }
.DJb { bottom: 0px; }
.CJb { -moz-box-sizing: border-box; transition: right 0.15s cubic-bezier(0, 1.12, 0.39, 0.98) 0s; border: 0px none; bottom: 100%; margin: 0px; padding: 0px; position: absolute; width: 260px; }
.Oua .CJb, .Qzc .CJb { right: -200px; }
.Oua.Lmb .CJb, .Qzc.Lmb .CJb { right: -210px; }
.o7c { transition: opacity 0.15s cubic-bezier(0, 1.12, 0.39, 0.98) 0s; position: absolute; top: 100%; z-index: 1; }
.Oua .o7c { opacity: 0; visibility: hidden; }
.dte { display: none; }
.Pzc { border: 0px none; margin: 0px; padding: 0px; position: relative; }
.BJb { background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; border: medium none; height: 100%; margin: 0px; padding: 0px; position: absolute; width: 100%; }
.DJb .BJb { transition: margin-left 0.15s cubic-bezier(0, 1.12, 0.39, 0.98) 0s; }
#gtn-roster-iframe-id { -moz-box-sizing: border-box; border: medium none; height: 100%; margin: 0px; padding: 0px; position: absolute; width: 100%; }
.Oua .BJb { margin-left: 260px; }
.YZb { -moz-box-sizing: border-box; background: none repeat scroll 0% 0% rgb(245, 245, 245); color: rgb(115, 115, 115); cursor: pointer; height: 44px; margin-top: 0px; }
.Oua .YZb { border: medium none; }
.VVd { float: left; font-size: 14px; height: 44px; line-height: 47px; overflow: hidden; white-space: nowrap; width: 203px; }
.Oua.Lmb .VVd { display: none; }
.DJb.q7c { transition: top 0.15s ease 0s; }
.Oua .Pzc { transition: right 0.15s cubic-bezier(0, 1.12, 0.39, 0.98) 0s; right: 70px; }
.Lmb.Oua .Pzc { right: 0px; }
.DJb.Lmb .YZb { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.ete { background: url("rtribbon-6ed925e9aa17d78d630e0aebfb069308.png") no-repeat scroll -27px 0px transparent; float: left; height: 20px; margin: 14px 8px 0px 10px; width: 20px; }
.q7c .BJb, .PVd .BJb { box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15); }
.TVd { margin-bottom: 12px; }
.EJb { -moz-box-sizing: border-box; background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(254, 254, 254), rgb(248, 248, 248)); border: 1px solid rgb(215, 215, 215); color: rgb(85, 85, 85); font-size: 13px; height: 36px; line-height: 36px; position: relative; text-align: center; width: 100%; z-index: 984; }
.RVd { background: url("rtribbon-6ed925e9aa17d78d630e0aebfb069308.png") no-repeat scroll -48px 0px transparent; height: 20px; margin-right: 7px; position: relative; top: 4px; width: 21px; }
.SVd { position: relative; top: -2px; }
.b-c-y { border-radius: 0px 0px 0px 0px; border: 1px solid transparent; font-size: 13px; font-weight: normal; height: 21px; line-height: 21px; margin-right: 1px; min-width: 0px; padding: 0px; }
.b-c-y.b-c-u, .b-c-y.b-c-L, .b-c-y:focus, .b-c-y:active { box-shadow: none; }
.b-c-y:focus { border: 1px solid rgb(217, 217, 217); }
.t-Pa-mb-Od { display: none; }
.t-Pa-mb-c { margin: 0px; overflow: hidden; text-overflow: ellipsis; text-transform: none; white-space: nowrap; word-wrap: normal; }
.dl { line-height: 0; vertical-align: top; }
@keyframes tt-photos-ellipsis-dot1-animation {
  0% { opacity: 0; }
  18% { opacity: 0; }
  36% { opacity: 1; }
}
@keyframes tt-photos-ellipsis-dot1-animation {
  0% { opacity: 0; }
  18% { opacity: 0; }
  36% { opacity: 1; }
}
@keyframes tt-photos-ellipsis-dot2-animation {
  0% { opacity: 0; }
  36% { opacity: 0; }
  54% { opacity: 1; }
}
@keyframes tt-photos-ellipsis-dot2-animation {
  0% { opacity: 0; }
  36% { opacity: 0; }
  54% { opacity: 1; }
}
@keyframes tt-photos-ellipsis-dot3-animation {
  0% { opacity: 0; }
  54% { opacity: 0; }
  72% { opacity: 1; }
}
@keyframes tt-photos-ellipsis-dot3-animation {
  0% { opacity: 0; }
  54% { opacity: 0; }
  72% { opacity: 1; }
}
@keyframes ttPhotosSelectionOverlayCheckmarkSelectedTransition {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
}
@keyframes ttPhotosSelectionOverlayCheckmarkSelectedTransition {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
}
.d-y-r-c { border-radius: 2px 2px 2px 2px; background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , transparent, transparent); border: 1px solid rgb(217, 217, 217); color: rgb(64, 64, 64); cursor: default; font-size: 12px; font-weight: bold; line-height: 27px; list-style: none outside none; margin: 0px 2px; min-width: 46px; outline: medium none; padding: 0px 18px 0px 6px; text-align: center; text-decoration: none; }
.d-y-r-c-ha { vertical-align: top; white-space: nowrap; }
.d-y-r-c-Qa { border-color: rgb(119, 119, 119) transparent; border-style: solid; border-width: 4px 4px 0px; height: 0px; width: 0px; position: absolute; right: 5px; top: 12px; }
@keyframes jfk-progressBar-bg {
  0% { background-position: 0px 0px; }
  100% { background-position: -16px 0px; }
}
@keyframes jfk-progressBar-bg {
  0% { background-position: 0px 0px; }
  100% { background-position: -16px 0px; }
}
@keyframes jfk-progressBar-bg-tall {
  0% { background-position: 0px 0px; }
  100% { background-position: -20px 0px; }
}
@keyframes jfk-progressBar-bg-tall {
  0% { background-position: 0px 0px; }
  100% { background-position: -20px 0px; }
}
.Kla { list-style-type: none; margin: 0px; padding: 0px; }
.xfa { float: left; height: 16px; margin-top: 3px; width: 16px; }
.fIa { line-height: 20px; margin-top: 6px; padding: 0px 0px 0px 23px; }
li:first-child .fIa { margin-top: 0px; }
.OLa { display: block; max-width: 540px; overflow: hidden; text-overflow: ellipsis; }
.sFa { bottom: 0px; color: rgb(255, 255, 255); font-size: 20px; font-weight: bold; left: -10px; overflow: hidden; position: absolute; right: 0px; top: 0px; vertical-align: top; z-index: 1; }
.xLa { bottom: 0px; color: rgb(255, 255, 255); font-size: 20px; font-weight: bold; line-height: 0; overflow: hidden; position: relative; right: 0px; top: 0px; vertical-align: top; }
.aGb { height: auto; width: 100%; }
.Bha { background-color: rgb(229, 229, 229); }
.Bha .jw { background-color: rgb(231, 231, 231); }
.Bha .Bn { margin-top: -10px; }
.Bha .Bn .Fdb { margin-left: auto; margin-right: auto; }
.k5 { position: relative; z-index: 1; }
.TVb { position: relative; color: rgb(255, 255, 255); min-height: 160px; }
.drc { margin: -19px -21px; }
.Bha .o-xc-Sya { -moz-box-sizing: border-box; margin: 0px auto; padding: 30px 20px 1px; width: 900px; }
.Bha .o-xc-Sya.o-xc-Bd { display: none; }
.M3 { color: rgb(255, 255, 255); display: inline-block; }
.Wia { text-align: center; }
.CAa { display: table; position: relative; }
.Xia { cursor: pointer; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.okb { text-align: center; }
.dkb { border-radius: 50% 50% 50% 50%; display: table; margin: 0px auto; }
.iGb, .Zxa { border-radius: 50% 50% 50% 50%; display: block; }
@media screen and (max-height: 700px) {
  .Zxa { height: 120px; width: 120px; }
}
.SVb, .M3 { height: 160px; width: 100%; z-index: 2; }
.jGb .SVb { background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0% 0% transparent; bottom: 0px; position: absolute; }
.M3 { background-color: transparent; bottom: 0px; font-size: 12px; position: absolute; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7); }
.xna { height: 100%; margin: 0px auto; position: relative; width: 900px; }
.Wia { left: 20px; margin-top: 0px; position: absolute; top: 20px; }
.CAa { margin: 0px; min-width: 120px; }
.iGb, .Zxa { height: 120px; width: 120px; }
.rHa { display: table; font-size: 12px; height: 100%; margin: 0px 20px 0px 160px; text-align: inherit; }
.mkb { display: table-cell; text-align: left; vertical-align: middle; }
.Xia { font-size: 28px; margin: 0px 10px 0px 0px; max-width: 482px; text-align: left; }
.gZa { display: inline-block; margin-bottom: 5px; white-space: nowrap; }
.Ny { display: inline-block; margin: 5px 15px 0px 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.Ny:before { margin-right: 15px; width: 12px; }
.sHa { white-space: nowrap; }
.Xqa { display: inline-block; margin-left: 10px; vertical-align: top; }
.Xqa:first-child { margin-left: 0px; }
.sHa .b-c { line-height: 27px; margin-right: 0px; padding: 0px 8px; }
.M9a { display: inline-block; position: relative; top: 11px; vertical-align: top; }
.Bn { display: table; position: relative; margin: 0px auto; word-wrap: break-word; }
.eea { clear: both; font-size: 16px; text-align: center; }
.Xha { margin: 20px 0px; }
.Uv { background-image: url("urn:not-loaded:https://ssl.gstatic.com/ui/v1/activityindicator/loading_16.gif"); background-position: left center; background-repeat: no-repeat; border: 0px none; display: inline-block; height: 16px; padding-left: 20px; }
.PA { color: rgb(204, 204, 204); display: block; text-align: center; padding: 10px 0px; }
.Ima { display: inline-block; }
.Cy { transition: border-color 0.218s ease 0s; border-bottom: 2px solid transparent; color: rgb(115, 115, 115); display: inline-block; font-size: 14px; line-height: 1.4; margin: 0px 18px; max-width: 180px; min-width: 20px; overflow: hidden; padding: 13px 0px 10px; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; }
.Cy:hover { transition: border-color 0.218s ease 0s; border-color: rgb(66, 127, 237); color: rgb(38, 38, 38); text-decoration: none; }
.Cy.P4 { transition: border-color 0.218s ease 0s; border-color: rgb(66, 127, 237); color: rgb(38, 38, 38); text-decoration: none; font-weight: bold; }
.OA { background-color: rgb(230, 230, 230); color: rgb(51, 102, 204); font-size: 12px; overflow: hidden; position: absolute; white-space: nowrap; }
.Fz { position: absolute; }
.NA { overflow: hidden; visibility: hidden; width: 0px; }
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.Ub { color: rgb(38, 38, 38); }
.ot-hashtag, .proflink, .proflinkPrefix, .Ub, .qg, .gj.d-s, .mi.d-s, .Xa.va .qg, .Xa.va .gj.d-s { transition: color 0.218s ease 0s; }
.Ub { text-decoration: none; }
h3, h4 { margin: 0px 0px 3px; }
.kIa { height: 15px; margin-left: 6px; width: 15px; top: 3px; }
.Jua { display: none; }
.g0a { background-color: rgb(215, 215, 215); border-top: 1px solid rgb(192, 192, 192); height: 14px; left: 15px; line-height: 15px; margin-left: 6px; padding-right: 2px; z-index: 2; }
.k0a { padding-top: 0px ! important; }
.gBa { opacity: 0.3; position: relative; vertical-align: top; }
.hBa { margin-right: 5px; vertical-align: top; width: 21px; }
.k5 .gBa { opacity: 0.7; display: inline-block; left: 0px; margin-right: 5px; position: relative; vertical-align: top; }
.k5 .hBa { display: inline-block; height: 16px; margin-right: 0px; position: relative; vertical-align: middle; width: auto; }
.PIb { background: url("profiles_1p-5160fcb70427e709388d74f92cc12f06.png") no-repeat scroll 0px -536px transparent; height: 12px; width: 11px; }
.Mua { border: 1px solid rgb(197, 197, 197); background-color: rgb(250, 250, 250); }
.Mua.eea { background-color: transparent; border-style: solid none none; border-top: 1px solid rgb(197, 197, 197); color: rgb(115, 115, 115); padding: 50px 10px 10px; }
.b2, .Zva { border-radius: 3px 3px 3px 3px; background-color: rgb(248, 248, 248); border: 1px solid rgb(216, 216, 216); font-weight: bold; }
.r0, .h9 { cursor: pointer; display: block; padding: 10px 0px; text-align: center; }
.r0:hover, .h9:hover { background-color: rgba(0, 0, 0, 0.024); text-decoration: none; }
.XO.d-y-r-c { transition: border-color 0.218s ease 0s; background: none repeat scroll 0% 0% transparent; border-width: medium medium 2px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(115, 115, 115); cursor: pointer; display: inline-block; line-height: 1.4; margin: 0px 36px 0px 18px; min-width: 20px; padding: 13px 0px 10px; }
.XO .d-y-r-c-ha { font-size: 14px; font-weight: normal; max-width: 180px; min-width: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.XO.d-y-r-c .d-y-r-c-Qa { opacity: 0.7; background: url("stream_showroom-21c1865011716e34b4baa7a27933d2.png") no-repeat scroll 0px -49px transparent; border: 0px none; height: 16px; right: -21px; top: 15px; width: 16px; }
.Ei { transition: height 0.5s ease-out 0s, min-height 0.5s ease-out 0s; height: 0px; margin-bottom: 0px; }
.uVd { background-color: rgb(255, 255, 255); -moz-user-select: none; position: relative; }
.BIa { display: block; height: 44px; padding: 0px 0px 0px 30px; text-decoration: none; }
.BIa:hover, .BIa:active { text-decoration: none; }
.BIa:focus { outline: medium none; }
.wVd { display: inline-block; height: 20px; padding-top: 12px; vertical-align: bottom; width: 20px; }
.vVd { margin: 0px auto; }
.Hyc { color: rgb(115, 115, 115); display: inline-block; font-size: 14px; margin-left: 8px; margin-bottom: 2px; max-width: 142px; overflow: hidden; padding-top: 12px; text-overflow: ellipsis; vertical-align: bottom; white-space: nowrap; }
.xVd { border-bottom: 1px solid rgb(229, 229, 229); margin-bottom: 8px; }
.yVd { border-bottom: 1px solid rgb(229, 229, 229); margin-bottom: 8px; margin-top: 8px; }
.Nua { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -144px 0px transparent; height: 20px; width: 20px; }
.x0a { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -84px -20px transparent; height: 20px; width: 20px; }
.nBa { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -124px -40px transparent; height: 20px; width: 20px; }
.oBa { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -84px 0px transparent; height: 20px; width: 20px; }
.zmb { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll 0px 0px transparent; height: 20px; width: 20px; }
.Fmb { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -144px -20px transparent; height: 20px; width: 20px; }
.ymb { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -104px 0px transparent; height: 20px; width: 20px; }
.Amb { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -104px -20px transparent; height: 20px; width: 20px; }
.Dmb { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -124px -20px transparent; height: 20px; width: 20px; }
.Bmb { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -20px 0px transparent; height: 20px; width: 20px; }
.gJb { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -124px 0px transparent; height: 20px; width: 20px; }
.VVa { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -40px 0px transparent; height: 44px; width: 44px; }
.UVa { background: url("ribbon-nav-1x-3934ae43120bdc68841413890d571a91.png") no-repeat scroll -20px -40px transparent; height: 20px; width: 20px; }
@media not all, (min-resolution: 1.5dppx) {
  .Nua { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -144px 0px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .x0a { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -84px -20px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .nBa { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -124px -40px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .oBa { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -84px 0px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .zmb { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: 0px 0px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .Fmb { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -144px -20px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .ymb { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -104px 0px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .Amb { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -104px -20px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .Dmb { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -124px -20px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .Bmb { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -20px 0px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .gJb { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -124px 0px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
  .VVa { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -40px 0px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 44px; width: 44px; }
  .UVa { background-color: transparent; background-image: url("urn:not-loaded:https://ssl.gstatic.com/s2/oz/images/sprites/ribbon-nav-2x-b0cddea337560a928ec35492e7c6487f.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: -20px -40px; background-clip: border-box; background-origin: padding-box; background-size: 164px 60px; height: 20px; width: 20px; }
}
.Ide { transform: translate3d(0px, -5px, 0px); background-color: rgb(255, 255, 255); border-top: 1px solid rgb(229, 229, 229); height: 0px; left: 0px; opacity: 0; overflow-x: hidden; overflow-y: auto; position: absolute; top: 0px; width: 230px; z-index: 984; }
.yld { transition: opacity 0.218s ease 0s, -moz-transform 0.218s ease 0s; position: fixed; }
.zld { transition: top 0.15s ease 0s, opacity 0.218s ease 0s, -moz-transform 0.218s ease 0s; }
.fOa { background-color: rgb(245, 245, 245); cursor: default; height: 44px; position: absolute; top: 0px; z-index: 12; }
.fOa.vld { transform: translateZ(0px); position: fixed; }
.fOa.wld { transition: top 0.15s ease 0s; }
.xld { display: inline-block; }
.VVa { transition: margin-left 0.15s linear 0s; display: block; margin-left: -44px; }
.qMc { display: inline-block; height: 44px; vertical-align: top; white-space: nowrap; }
.SOb { transition: margin-left 0.15s linear 0s; -moz-user-select: none; background-color: rgb(255, 255, 255); border-radius: 3px 3px 3px 3px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2); margin: 7px 0px 7px 30px; padding: 5px 5px 5px 9px; }
.pMc { color: rgb(115, 115, 115); display: inline-block; font-size: 14px; margin-bottom: 1px; margin-right: 5px; max-width: 132px; overflow: hidden; text-overflow: ellipsis; vertical-align: bottom; }
.UVa { opacity: 0.7; display: inline-block; left: 0px; position: relative; top: 0px; vertical-align: bottom; }
.utb { display: inline-block; height: 20px; margin-right: 8px; vertical-align: bottom; width: 20px; }
.fOa.TVa { background-color: rgb(255, 255, 255); }
.fOa.TVa .VVa { margin-left: 0px; }
.fOa.TVa .SOb { background-color: rgb(245, 245, 245); margin-left: 7px; }
.fOa.TVa .utb { margin-right: 5px; }
.fOa.TVa .pMc { margin-right: 0px; font-size: 0px; width: 0px; }
.Lde { color: rgb(170, 170, 170); font-size: 11px; line-height: 1.4; margin-top: 15px; padding: 10px 0px 15px; width: 230px; }
.U1d.d-s, .V1d.d-s, .W1d.d-s, .Xld.d-s, .UGd.d-s, .LLd.d-s { color: rgb(170, 170, 170); }
.U1d.d-s:hover, .V1d.d-s:hover, .W1d.d-s:hover, .Xld.d-s:hover, .UGd.d-s:hover, .LLd.d-s:hover { color: rgb(66, 127, 237); text-decoration: none; }
.Nde, .Ode { margin: 0px 20px 4px; overflow: hidden; text-overflow: ellipsis; }
.Mde { border-bottom: 1px solid rgb(229, 229, 229); margin: 10px 0px; }
.zwe { color: rgb(204, 51, 51); }
#notify-widget-pane { pointer-events: none; position: fixed; width: 100%; z-index: 1111; }
:first-child + html .a-F6 .a-Za-Cc { padding-left: 10px; }
:first-child + html .a-Za-zu-sc { float: right; margin: 0px; padding-left: 4px; }
:first-child + html .a-Za-Bb .d-H-c { margin-left: 4px; }
:first-child + html .a-kd-Bb, * html .a-kd-Bb { margin-left: 0px; margin-right: 0px; }
:first-child + html .a-B { left: 0px; bottom: 0px; right: 0px; top: 0px; overflow-x: hidden; }
:first-child + html .a-Dn-mf .a-B { left: 0px; }
:first-child + html .a-wb-Z .a-La-Bb .d-rb-Cc .a-ne .d-rb-sc-ka { padding-bottom: 4px; margin-right: 0px; }
:first-child + html .a-wb-Z .a-ne .d-rb-fd { padding-bottom: 0px; }
:first-child + html .a-wb-Z .d-rb-sc .a-ne .a-ne-Cc { padding-bottom: 5px; }
:first-child + html .a-ga-F .d-F-c-aa-z { left: -1px; }
:first-child + html .a-ga-F .d-F-c-mg .d-F-c-aa-z { left: 1px; right: auto; }
* html .a-ga-F .d-F-c-I, :first-child + html .a-ga-F .d-F-c-I { background-color: rgb(238, 238, 238); margin: 0px 1px; padding: 0px 1px; }
* html .a-ga-F .d-F-c-S-ya .d-F-c-aa-z, :first-child + html .a-ga-F .d-F-c-S-ya .a-ga-F .d-F-c-aa-z { left: 0px; }
:first-child + html .a-ga-F .d-F-r-c-aa-z { left: -1px; }
:first-child + html .a-ga-F .d-F-r-c-mg .a-ga-F .d-F-r-c-aa-z { left: 1px; right: auto; }
* html .a-ga-F .d-F-r-c-I, :first-child + html .a-ga-F .d-F-r-c-I { background-color: rgb(238, 238, 238); margin: 0px 1px; padding: 0px 1px; }
:first-child + html .a-ij .a-ij-Da-xd .d-s-c { position: relative; top: 6px; }
@keyframes pickerPhotosSelectionOverlayCheckmarkSelectedTransition {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
}
@keyframes pickerPhotosSelectionOverlayCheckmarkSelectedTransition {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
}
.a-Sc-v-wa-q-c::-moz-focus-inner { border: 0px none; }
.o-xc-Bd { display: none; }
.o-xc-rma:hover { text-decoration: none; }
.JAa { border-radius: 3px 3px 3px 3px; transition: none 0s ease 0s ; margin-bottom: 20px; opacity: 1; }
.JAa:hover { opacity: 1; }
.Mab { display: block; }
.Nvc { color: rgb(64, 64, 64); }
.Jlb { perspective: 3000px; margin-bottom: 15px; position: relative; }
.iya { -moz-box-sizing: border-box; position: relative; }
.Ilb { margin-top: -2px; visibility: hidden; }
.iya { backface-visibility: hidden; transform-style: preserve-3d; transition: -moz-transform 0.5s ease 0s, visibility 0s linear 0.1s; }
.Ilb, .Cra .rYb { transform: rotateY(-180deg); }
.LAa { -moz-box-sizing: border-box; display: table; padding: 15px; position: relative; table-layout: fixed; width: 100%; word-break: break-all; word-wrap: break-word; }
.tYb { transition: max-height 0.3s ease 0.8s; max-height: 100px; overflow: hidden; }
.Mab > .tYb { max-height: 0px; }
.Lvc { background: url("contacts_gray.png") no-repeat scroll 5px center transparent; border-bottom: medium none; border-top: medium none; color: rgb(136, 136, 136); font-size: inherit; font-weight: bold; margin-top: 0px; padding: 10px 5px 10px 30px; text-transform: uppercase; }
.Mvc { float: right; font-size: 13px; font-weight: normal; text-transform: none; }
.JAa .d-s { transition: color 0.218s ease 0s; color: inherit; }
.JAa:hover .d-s { color: rgb(66, 127, 237); }
.NHb, .Ivc { border: 0px none; padding-top: 0px; }
.MHb { cursor: pointer; margin-left: 10px; margin-right: -33px; }
.Jvc { color: rgb(153, 153, 153); display: inline-block; margin-left: 38px; }
.MHb:before { opacity: 0.3; background: url("profiles-ms-407c5fac207e5b8f7ef818d9ae371495.png") no-repeat scroll -169px -54px transparent; content: ""; display: inline-block; height: 18px; margin-right: 10px; margin-top: -3px; vertical-align: middle; width: 18px; }
.eIa.b-c-u, .MHb:hover { text-decoration: underline; }
.Xvc { display: inline-block; vertical-align: bottom; }
.tSa { width: auto ! important; }
.Plb { opacity: 0.9; display: inline; font-size: 12px; margin: 0px 10px 0px 2px; position: relative; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7); top: 14px; vertical-align: top; }
.vna { border-top: 5px solid rgb(255, 255, 255); }
.ZYa { padding: 17px 20px 15px; vertical-align: top; }
.Lqc { padding-bottom: 7px; }
.Mqc { border-top-color: rgb(118, 167, 250); }
.Hqc { border-top-color: rgb(140, 196, 116); }
.Yjb { border-top-color: rgb(111, 133, 191); }
.Uia { color: rgb(64, 64, 64); overflow: hidden; padding: 0px 20px 17px; }
.F9a { color: rgb(38, 38, 38); display: inline-block; font: 300 20px Roboto,arial,sans-serif; }
.y4 { font-size: 13px; }
.AAa, .wna { line-height: 1.4; margin-bottom: 40px; }
.rga .AAa, .rga .wna { margin-bottom: 23px; }
.AAa:last-child, .wna:last-child { border-bottom: 0px none; margin-bottom: 0px; }
.Qqc { display: table; }
.DVb { display: table-row; }
.G9a { display: table-cell; padding-top: 11px; }
.DVb:first-child .G9a { padding-top: 0px; }
.vna .Mlb .MAa, .Rqc { color: rgb(64, 64, 64); font-weight: bold; min-width: 0px; padding-right: 16px; white-space: nowrap; }
.Cr, .Uia .Zka .gca { color: rgb(38, 38, 38); font: 300 20px Roboto,arial,sans-serif; }
.rga .Cr, .Uia .Zka .gca { font-size: 14px; font-weight: bold; }
.H9a.akb, .Cr.Aha { margin-bottom: 20px; }
.rga .H9a.akb, .rga .Cr.Aha { border-bottom: 1px solid rgb(218, 218, 218); padding-bottom: 5px; margin-bottom: 12px; }
.akb { margin-bottom: 20px; overflow: hidden; position: relative; }
.rga .akb { margin-bottom: 0px; }
.Xqc.Cr { float: left; padding-right: 65px; }
.bkb { bottom: 0px; position: absolute; right: 0px; }
.bkb .d-s { color: rgb(153, 153, 153); }
.bkb .d-s:hover { color: rgb(66, 127, 237); text-decoration: underline; }
.brc { height: 48px; margin-top: 12px; }
.arc { display: inline-block; }
.Yqc { display: inline-block; margin: 6px 0px 0px 17px; max-width: 200px; vertical-align: top; }
.Zqc { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.EVb { float: right; padding-top: 4px; vertical-align: top; }
.EVb .b-c { margin-right: 0px; }
.fZa .fa-V3b .s { display: inline-block; padding-left: 7px; }
.ckb { margin: 16px 0px; }
.XFb { cursor: pointer; margin-left: 10px; vertical-align: middle; }
.Mb .XFb { outline: medium none; }
.aZa { opacity: 0.9; border-left: 1px solid rgb(255, 255, 255); display: inline-block; padding-left: 10px; }
.zLa { position: relative; top: 8px; vertical-align: top; }
.nHa { display: inline-block; margin: 0px; position: relative; vertical-align: top; }
.qHa { display: inline-block; margin: 2px 0px 0px; position: relative; vertical-align: top; }
.qHa .bZa { margin-right: 10px; }
.UVb { opacity: 0.7; background: url("profiles_sr-df78a3bf347b3cdb103b2191751c5d6e.png") no-repeat scroll -40px -76px transparent; height: 7px; width: 10px; }
.bZa { cursor: pointer; display: inline-block; margin-right: 20px; vertical-align: top; }
.rkb { transition: opacity 0.218s ease 0s; opacity: 0.9; }
.rkb:hover { opacity: 1; }
.rkb { background: url("profiles_1p-5160fcb70427e709388d74f92cc12f06.png") no-repeat scroll -12px -536px transparent; height: 18px; width: 18px; }
.Mb .Krc { outline: medium none; }
.cZa { display: inline-block; margin-right: 10px; }
.Bla { display: inline-block; }
.Bla .kIa { margin: 0px; }
.Bla .kIa { height: 18px; top: -1px; width: 18px; }
.Arc { position: relative; }
.gGb { display: none; }
.mHa { margin-top: -200px; position: absolute; left: -9999px; }
.mHa { opacity: 0; }
.xrc { background-color: rgb(0, 0, 0); height: 60px; }
.Mb .NVb { outline: medium none; }
.OVb { border-radius: 50% 50% 50% 50%; display: inline-block; float: left; padding-right: 14px; position: relative; top: 14px; vertical-align: top; z-index: 1; }
.L9a { border-radius: 50% 50% 50% 50%; cursor: pointer; }
.urc { display: inline-block; float: left; height: 60px; overflow: hidden; vertical-align: middle; }
.NVb { color: rgb(255, 255, 255); cursor: pointer; font-size: 20px; line-height: 60px; overflow: hidden; text-overflow: ellipsis; }
.yrc { color: rgb(255, 255, 255); display: inline-block; float: right; vertical-align: middle; white-space: nowrap; }
.PVb { display: inline-block; }
.eZa { opacity: 0.9; display: inline-block; line-height: 60px; min-width: 20px; }
.eZa .vkb { line-height: 29px; margin-top: 0px; }
.prc { display: inline-block; vertical-align: top; }
.nHa.ckb { display: inline-block; padding-top: 2px; vertical-align: top; }
.nHa .bZa { margin: 0px 10px 0px 0px; }
.hGb { opacity: 0.3; height: 60px; overflow: hidden; z-index: 0; }
.trc { bottom: 0px; position: absolute; width: 100%; }
.src { width: 100%; vertical-align: bottom; }
.PVb .sHa { display: inline-block; margin: 15px 0px 0px 16px; vertical-align: top; }
.vrc { display: inline-block; margin-right: 10px; overflow: hidden; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; }
.rrc { position: relative; top: 4px; vertical-align: top; }
.zrc { margin: 0px 12px; overflow: hidden; position: relative; z-index: 1; }
.mHa .aZa { float: left; margin-top: 20px; vertical-align: top; }
.ikb { max-height: 46px; overflow: hidden; white-space: nowrap; }
.rga .ikb { margin-top: 12px; }
.QVb { display: inline-block; margin-right: 4px; }
.QVb:last-child { margin-right: 0px; }
.O9a { opacity: 0.67; font-size: 12px; margin-top: 5px; }
.Erc { display: inline-block; height: 29px; text-shadow: none; vertical-align: middle; }
.vkb { display: inline-block; }
.DAa { display: table; float: right; height: 100%; margin: 0px 20px; text-align: center; }
.pkb { display: table-cell; vertical-align: middle; }
.Yia.Frc { overflow: hidden; text-overflow: ellipsis; }
.FVb { text-decoration: none; display: inline-block; }
.J9a, .K9a { opacity: 0.67; color: rgb(255, 255, 255); }
.vna { margin-bottom: 30px; width: 415px; }
.rga { display: inline-block; margin-left: 30px; vertical-align: top; width: 415px; }
.rga:first-child { margin-left: 0px; }
:first-child + html .d-F-c-aa-z { left: -1px; }
:first-child + html .d-F-c-mg .d-F-c-aa-z { left: 1px; right: auto; }
* html .d-F-c-I, :first-child + html .d-F-c-I { background-color: rgb(240, 240, 240); margin: 0px 1px; padding: 0px 1px; }
* html .d-F-c-S-ya .d-F-c-aa-z, :first-child + html .d-F-c-S-ya .d-F-c-aa-z { left: 0px; }
:first-child + html .d-F-r-c-aa-z { left: -1px; }
:first-child + html .d-F-r-c-mg .d-F-r-c-aa-z { left: 1px; right: auto; }
* html .d-F-r-c-I, :first-child + html .d-F-r-c-I { background-color: rgb(240, 240, 240); margin: 0px 1px; padding: 0px 1px; }
.UMa { margin: 0px auto; }
* html .a-m0-T9c, :first-child + html .a-m0-T9c { padding-top: 3px; }
:first-child + html .a-D-v-ec-xd { height: 100%; padding-top: 100px; }
.ycd { opacity: 0; transition: all 0.218s ease 0s ; }
.Bcd { background: none repeat scroll 0% 0% rgb(248, 239, 167); color: rgb(38, 38, 38); margin: 12px 4px; padding: 12px; }
.zcd { margin: 12px 8px; }
.Ccd { opacity: 1; }
