/* Effective stylesheet produced by snapshot save */
body { font-family: serif; font-size: 0.8em; line-height: 130%; }
#column, #header, #footer, #path, form, #banner { display: none ! important; }
