/* Effective stylesheet produced by snapshot save */
.ego_page .UIStandardFrame_Container { padding-left: 0px; width: 980px; }
.ego_page .UIStandardFrame_Content { width: 720px; }
.ego_page .UIStandardFrame_SidebarAds { width: auto; }
