/* Effective stylesheet produced by snapshot save */
button.as_link::-moz-focus-inner { border: 0px none; padding: 0px; }
._4-k1 { vertical-align: -3px; }
.UFIRow { background-color: rgb(237, 239, 244); margin-top: 1px; padding: 4px; word-wrap: break-word; }
div.UFIContainer { overflow: hidden; padding: 0px; }
.UFIContainer { margin: 0px; width: 398px; }
.UFIArrow { margin-bottom: -2px; margin-top: 0px; }
.UFIArrow > i { background-image: url("UvyvLtJTQzO.png"); background-repeat: no-repeat; background-size: auto auto; background-position: 0px 0px; display: block; height: 5px; margin-left: 17px; width: 9px; }
.UFILikeIcon { background-image: url("Qdv04UHuWZa.png"); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -35px; display: block; height: 13px; width: 15px; }
.hdn { visibility: hidden; }
