/* Effective stylesheet produced by snapshot save */
#ps-main-content { margin: 0px 5px 0px 310px; }
#ps-main-column { display: inline; float: left; width: 300px; }
.ps-column-frame { margin-left: 1em; margin-bottom: 1em; }
.ps-column-sep { margin-left: 1em; margin-bottom: 0.5em; border-top: 1px dashed gray; }
.ps-column-sep2 p, .ps-column-sep p { text-align: center; font-size: 80%; color: rgb(102, 102, 102); }
.ps-column-header { line-height: 19px; background: url("table-header-bg.png") repeat scroll 0% 0% transparent; padding: 0px 0.3em; border: 1px solid gray; text-align: center; font-weight: bold; }
.ps-column-header span { display: block; width: 100%; background: url("exp_minus.gif") no-repeat scroll 100% 50% transparent; cursor: pointer; }
.ps-column-header a, .ps-column-header a:link, .ps-column-header a:visited, .ps-column-header a:hover, .ps-column-header a:active { color: black; }
.ps-column-content { border-left: 1px solid gray; border-right: 1px solid gray; border-bottom: 1px solid gray; background: none repeat scroll 0% 0% rgb(238, 238, 238); font-size: 100%; clear: both; }
.ps-column-content p, .ps-column-content p.hl, .ps-column-content p.substat { border-top: 1px solid rgb(221, 221, 221); line-height: 1.5em; padding: 0.1em 0.3em 0px; clear: left; min-height: 1.5em; }
.ps-column-content p.hl { background-color: rgb(228, 220, 206); border-top: 1px solid rgb(162, 148, 144); }
.ps-column-content p.substat { margin-left: 1.5em; border: medium none; }
.ps-column-content p label { width: 50%; float: left; font-weight: bold; }
.ps-column-content p span { text-align: right; display: block; }
.ps-column-content p em .pct-bar { position: relative; top: 4px; }
.ps-column-content p em .pct-bar, .ps-column-content p em .pct-bar span { float: none; text-align: left; }
.ps-column-content p em { font-size: 0.8em; font-style: normal; color: gray; float: left; text-align: right; width: 4em; }
.ps-column-content p.firstrow { border: medium none; }
.ps-column-content p.substat label { font-weight: normal; width: 50%; }
#ps-id-plripaddr p label, #ps-id-plrname p label, #ps-id-plrworldid p label { width: 75%; font-weight: normal; }
#ps-id-plripaddr p.firstrow label, #ps-id-plrname p.firstrow label, #ps-id-plrworldid p.firstrow label { font-weight: bold; width: 50%; }
.ps-column-content p.even { background-color: rgb(231, 231, 231); }
#ps-main-column:after, #ps-main-content:after, .ps-column-content p:after, .spacer:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
