/* Effective stylesheet produced by snapshot save */
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#page-header .headerbar { background: url("forum_top_cde.png") no-repeat scroll 0px 0px transparent; }
#page-header .headerbar .inner { background: none repeat scroll 0% 0% transparent; }
#site-description a#logo { display: block; width: 380px; height: 82px; }
.inner #search-box #search fieldset a { color: rgb(197, 166, 58); margin-top: 5px; }
