/* Effective stylesheet produced by snapshot save */
* { margin: 0px; padding: 0px; }
html { font-size: 100%; height: 101%; }
body { font-family: Verdana,Helvetica,Arial,sans-serif; color: rgb(130, 130, 130); background-color: rgb(255, 255, 255); font-size: 10px; margin: 0px; padding: 12px 0px; }
h2 { font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-weight: normal; color: rgb(63, 63, 63); font-size: 2em; margin: 0.8em 0px 0.2em; }
h3 { font-family: Arial,Helvetica,sans-serif; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid rgb(204, 204, 204); margin-bottom: 3px; padding-bottom: 2px; font-size: 1.05em; color: rgb(152, 152, 152); margin-top: 20px; }
p { line-height: 1.3em; font-size: 1.1em; margin-bottom: 1.5em; }
img { border-width: 0px; }
hr { border-right: 0px none rgb(255, 255, 255); border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) rgb(255, 255, 255) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 1px; margin: 5px 0px; display: block; clear: both; }
hr.divider { display: none; }
#wrap { padding: 0px 20px; min-width: 650px; }
#page-body { margin: 4px 0px; clear: both; }
#page-footer { clear: both; }
#logo { float: left; width: auto; padding: 10px 13px 0px 10px; }
a#logo:hover { text-decoration: none; }
#search-box { color: rgb(255, 255, 255); position: relative; margin-top: 30px; margin-right: 5px; display: block; float: right; text-align: right; white-space: nowrap; }
#search-box #keywords { width: 95px; background-color: rgb(255, 255, 255); }
#search-box input { border: 1px solid rgb(176, 176, 176); }
#site-description { float: left; width: 70%; }
.headerbar { background: none repeat-x scroll 0px 0px rgb(235, 235, 235); color: rgb(255, 255, 255); margin-bottom: 4px; padding: 0px 5px; }
.navbar { background-color: rgb(235, 235, 235); padding: 0px 10px; }
.post { padding: 0px 10px; margin-bottom: 4px; background-repeat: no-repeat; background-position: 100% 0px; }
.post:target .content { color: rgb(0, 0, 0); }
.post:target h3 a { color: rgb(0, 0, 0); }
.bg1 { background-color: rgb(247, 247, 247); }
.bg2 { background-color: rgb(242, 242, 242); }
span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span { font-size: 1px; line-height: 1px; display: block; height: 5px; background-repeat: no-repeat; }
span.corners-top { background-image: none; background-position: 0px 0px; margin: 0px -5px; }
span.corners-top span { background-image: none; background-position: 100% 0px; }
span.corners-bottom { background-image: none; background-position: 0px 100%; margin: 0px -5px; clear: both; }
span.corners-bottom span { background-image: none; background-position: 100% 100%; }
.post span.corners-top, .post span.corners-bottom, .panel span.corners-top, .panel span.corners-bottom, .navbar span.corners-top, .navbar span.corners-bottom { margin: 0px -10px; }
.rules span.corners-top { margin: 0px -10px 5px; }
.rules span.corners-bottom { margin: 5px -10px 0px; }
ul.linklist { display: block; margin: 4px 0px 0px; }
ul.linklist li { display: block; list-style-type: none; float: left; width: auto; margin-right: 5px; font-size: 1.1em; line-height: 1.8em; }
ul.linklist li.rightside, p.rightside { float: right; margin-right: 0px; margin-left: 5px; text-align: right; }
ul.navlinks { padding-bottom: 1px; margin-bottom: 1px; border-bottom: 1px solid rgb(255, 255, 255); font-weight: bold; }
.nobold { font-weight: normal; }
ul.rightside { float: right; margin-left: 5px; margin-right: -5px; text-align: right; }
.left-box { float: left; width: auto; text-align: left; }
.right-box { float: right; width: auto; text-align: right; }
.pagination { height: 1%; width: auto; text-align: right; margin-top: 5px; float: right; }
.pagination span.page-sep { display: none; }
.pagination strong, .pagination b { font-weight: normal; }
.pagination span strong { padding: 0px 2px; margin: 0px 2px; font-weight: normal; color: rgb(255, 255, 255); background-color: rgb(191, 191, 191); border: 1px solid rgb(191, 191, 191); font-size: 0.9em; }
.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active { font-weight: normal; text-decoration: none; color: rgb(116, 116, 116); margin: 0px 2px; padding: 0px 2px; background-color: rgb(238, 238, 238); border: 1px solid rgb(186, 186, 186); font-size: 0.9em; line-height: 1.5em; }
.pagination span a:hover { border-color: rgb(210, 210, 210); background-color: rgb(210, 210, 210); color: rgb(255, 255, 255); text-decoration: none; }
.copyright { padding: 5px; text-align: center; color: rgb(85, 85, 85); }
div.rules { background-color: rgb(236, 236, 236); color: rgb(188, 188, 188); padding: 0px 10px; margin: 10px 0px; font-size: 1.1em; }
#top { position: absolute; top: -20px; }
.clear { display: block; clear: both; font-size: 1px; line-height: 1px; background: none repeat scroll 0% 0% transparent; }
a { direction: ltr; unicode-bidi: embed; }
a:link { color: rgb(137, 137, 137); text-decoration: none; }
a:visited { color: rgb(137, 137, 137); text-decoration: none; }
a:hover { color: rgb(211, 211, 211); text-decoration: underline; }
a:active { color: rgb(210, 210, 210); text-decoration: none; }
.username-coloured { font-weight: bold; display: inline ! important; padding: 0px ! important; }
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link { color: rgb(255, 255, 255); text-decoration: none; }
#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited { color: rgb(255, 255, 255); text-decoration: none; }
#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active { color: rgb(255, 255, 255); text-decoration: none; }
.postlink { text-decoration: none; color: rgb(210, 210, 210); border-bottom: 1px solid rgb(210, 210, 210); padding-bottom: 0px; }
.postlink:active { color: rgb(210, 210, 210); }
.postlink:hover { background-color: rgb(246, 246, 246); text-decoration: none; color: rgb(64, 64, 64); }
.signature a, .signature a:visited, .signature a:hover, .signature a:active { border: medium none; text-decoration: underline; background-color: transparent; }
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a { font-weight: bold; color: rgb(137, 137, 137); text-decoration: none; }
.postprofile a:hover, .postprofile dt.author a:hover { text-decoration: underline; color: rgb(211, 211, 211); }
.postprofile a:active { font-weight: bold; color: rgb(137, 137, 137); text-decoration: none; }
.back2top { clear: both; height: 11px; text-align: right; }
a.top { background: none no-repeat scroll left top transparent; text-decoration: none; width: 11px; height: 11px; display: block; float: right; overflow: hidden; letter-spacing: 1000px; text-indent: 11px; }
a.left { background: none no-repeat scroll 3px 60% transparent; }
a.right { background: none no-repeat scroll 95% 60% transparent; }
a.left, a.left:active, a.left:visited { padding-left: 12px; }
a.left:hover { color: rgb(210, 210, 210); text-decoration: none; background-position: 0px 60%; }
a.right, a.right:active, a.right:visited { padding-right: 12px; }
a.right:hover { color: rgb(210, 210, 210); text-decoration: none; background-position: 100% 60%; }
.skiplink { position: absolute; left: -999px; width: 990px; }
.topic-actions { margin-bottom: 3px; font-size: 1.1em; height: 28px; min-height: 28px; }
div.topic-actions[class] { height: auto; }
.postbody { padding: 0px; line-height: 1.48em; color: rgb(51, 51, 51); width: 76%; float: left; clear: both; }
.postbody h3.first { font-size: 1.7em; }
.postbody h3 { font-size: 1.5em; padding: 2px 0px 0px; margin: 0px 0px 0.3em ! important; text-transform: none; border: medium none; font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif; line-height: 125%; }
.postbody .content { font-size: 1.3em; }
.content { min-height: 3em; overflow: hidden; line-height: 1.4em; font-family: "Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif; font-size: 1em; color: rgb(51, 51, 51); padding-bottom: 1px; }
p.author { margin: 0px 15em 0.6em 0px; padding: 0px 0px 5px; font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 1em; line-height: 1.2em; }
.signature { margin-top: 1.5em; padding-top: 0.2em; font-size: 1.1em; border-top: 1px solid rgb(204, 204, 204); clear: left; line-height: 140%; overflow: hidden; width: 100%; }
blockquote { background: none no-repeat scroll 6px 8px rgb(235, 235, 235); border: 1px solid rgb(219, 219, 219); font-size: 0.95em; margin: 0.5em 1px 0px 25px; overflow: hidden; padding: 5px; }
blockquote blockquote { background-color: rgb(186, 186, 186); font-size: 1em; margin: 0.5em 1px 0px 15px; }
blockquote cite { font-style: normal; font-weight: bold; margin-left: 20px; display: block; font-size: 0.9em; }
blockquote.uncited { padding-top: 25px; }
.postprofile { margin: 5px 0px 10px; min-height: 80px; color: rgb(102, 102, 102); border-left: 1px solid rgb(255, 255, 255); width: 22%; float: right; display: inline; }
.postprofile dd, .postprofile dt { line-height: 1.2em; margin-left: 8px; }
.postprofile strong { font-weight: normal; color: rgb(0, 0, 0); }
.buttons { float: left; width: auto; height: auto; }
.buttons div { float: left; margin: 0px 5px 0px 0px; background-position: 0px 100%; }
.buttons div a { display: block; width: 100%; height: 100%; background-position: 0px 0px; position: relative; overflow: hidden; }
.buttons div span { position: absolute; width: 100%; height: 100%; cursor: pointer; }
.buttons div a:hover span { background-position: 0px 100%; }
.reply-icon span { background: none no-repeat scroll 0px 0px transparent; }
.buttons div.reply-icon { width: 96px; height: 25px; }
a.print, a.sendemail, a.fontsize { display: block; overflow: hidden; height: 18px; text-indent: -5000px; text-align: left; background-repeat: no-repeat; }
a.print { background-image: none; width: 22px; }
a.sendemail { background-image: none; width: 22px; }
a.fontsize { background-image: none; background-position: 0px -1px; width: 29px; }
a.fontsize:hover { background-position: 0px -20px; text-decoration: none; }
.sitehome, .icon-thanks, .icon-thanks_toplist, .icon-faq, .icon-members, .icon-home, .icon-ucp, .icon-register, .icon-logout, .icon-bookmark, .icon-bump, .icon-subscribe, .icon-unsubscribe, .icon-pages, .icon-search { background-position: 0px 50%; background-repeat: no-repeat; background-image: none; padding: 1px 0px 0px 17px; }
ul.profile-icons { padding-top: 10px; list-style: none outside none; }
ul.profile-icons li { float: left; margin: 0px 6px 3px 0px; background-position: 0px 100%; }
ul.profile-icons li a { display: block; width: 100%; height: 100%; background-position: 0px 0px; }
ul.profile-icons li span { display: none; }
ul.profile-icons li a:hover { background: none repeat scroll 0% 0% transparent; }
.postbody ul.profile-icons { float: right; width: auto; padding: 0px; }
.postbody ul.profile-icons li { margin: 0px 3px; }
.web-icon, .web-icon a { background: none no-repeat scroll left top transparent; }
.quote-icon, .quote-icon a { background: none no-repeat scroll left top transparent; }
.report-icon, .report-icon a { background: none no-repeat scroll left top transparent; }
ul.profile-icons li.web-icon { width: 20px; height: 20px; }
ul.profile-icons li.quote-icon { width: 62px; height: 20px; }
ul.profile-icons li.report-icon { width: 20px; height: 20px; }
ul.profile-icons li.quote-icon { margin: 0px 0px 0px 10px; }
ul.profile-icons li.info-icon, ul.profile-icons li.report-icon { margin: 0px 3px 0px 0px; }
fieldset { border-width: 0px; font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 1.1em; }
input { font-weight: normal; cursor: pointer; vertical-align: middle; padding: 0px 3px; font-size: 1em; font-family: Verdana,Helvetica,Arial,sans-serif; }
select { font-family: Verdana,Helvetica,Arial,sans-serif; font-weight: normal; cursor: pointer; vertical-align: middle; border: 1px solid rgb(102, 102, 102); padding: 1px; background-color: rgb(250, 250, 250); font-size: 1em; }
option { padding-right: 1em; }
label { cursor: default; padding-right: 5px; color: rgb(103, 103, 103); }
label input { vertical-align: middle; }
fieldset.display-options { text-align: center; margin: 3px 0px 5px; }
fieldset.display-options label { white-space: nowrap; padding-right: 2px; }
fieldset.display-options a { margin-top: 3px; }
fieldset.jumpbox { text-align: right; margin-top: 15px; height: 2.5em; }
.inputbox { background-color: rgb(255, 255, 255); border: 1px solid rgb(192, 192, 192); color: rgb(51, 51, 51); padding: 2px; cursor: text; }
.inputbox:hover { border: 1px solid rgb(234, 234, 234); }
.inputbox:focus { border: 1px solid rgb(234, 234, 234); color: rgb(75, 75, 75); }
input.inputbox { width: 85%; }
input.tiny { width: 125px; }
input.button1, input.button2 { font-size: 1em; }
a.button1, input.button1, input.button3, a.button2, input.button2 { width: auto ! important; padding-top: 1px; padding-bottom: 1px; font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif; color: rgb(0, 0, 0); background: none repeat-x scroll left top rgb(250, 250, 250); }
a.button2, input.button2, input.button3 { border: 1px solid rgb(102, 102, 102); }
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover { border: 1px solid rgb(188, 188, 188); background-position: 0px 100%; color: rgb(188, 188, 188); }
.search-box { margin-top: 3px; margin-left: 5px; float: left; }
.search-box input {  }
input.search { background-image: none; background-repeat: no-repeat; background-position: left 1px; padding-left: 17px; }
.tiny { width: 10%; }
* html .clearfix, * html .navbar, ul.linklist { height: 4%; overflow: hidden; }
:first-child + html dl.details dd { margin-left: 30%; float: none; }
:first-child + html #site-description p { margin-bottom: 1em; }
html, body { color: rgb(83, 100, 130); background-color: rgb(255, 255, 255); }
h2 { color: rgb(40, 49, 63); }
h3 { border-bottom-color: rgb(204, 204, 204); color: rgb(17, 80, 152); }
hr { border-color: rgb(204, 204, 204) rgb(255, 255, 255) rgb(255, 255, 255); }
#search-box { color: rgb(255, 255, 255); }
#search-box #keywords { background-color: rgb(255, 255, 255); }
#search-box input { border-color: rgb(0, 117, 176); }
.headerbar { background-color: rgb(18, 163, 235); background-image: url("urn:not-loaded:https://forum.pirati.cz/styles/prosilver-ppcz/theme/images/bg_header.gif"); color: rgb(255, 255, 255); }
.navbar { background-color: rgb(202, 220, 235); }
.post:target .content { color: rgb(0, 0, 0); }
.post:target h3 a { color: rgb(0, 0, 0); }
.bg1 { background-color: rgb(236, 243, 247); }
.bg2 { background-color: rgb(225, 235, 242); }
span.corners-top { background-image: url("corners_left.png"); }
span.corners-top span { background-image: url("corners_right.png"); }
span.corners-bottom { background-image: url("corners_left.png"); }
span.corners-bottom span { background-image: url("corners_right.png"); }
ul.navlinks { border-bottom-color: rgb(255, 255, 255); }
.pagination span strong { color: rgb(255, 255, 255); background-color: rgb(70, 146, 191); border-color: rgb(70, 146, 191); }
.pagination span a, .pagination span a:link, .pagination span a:visited { color: rgb(92, 117, 140); background-color: rgb(236, 237, 238); border-color: rgb(180, 186, 192); }
.pagination span a:hover { border-color: rgb(54, 138, 210); background-color: rgb(54, 138, 210); color: rgb(255, 255, 255); }
.pagination span a:active { color: rgb(92, 117, 140); background-color: rgb(236, 237, 238); border-color: rgb(180, 186, 192); }
.copyright { color: rgb(85, 85, 85); }
div.rules { background-color: rgb(236, 213, 216); color: rgb(188, 42, 77); }
a:link { color: rgb(16, 82, 137); }
a:visited { color: rgb(16, 82, 137); }
a:hover { color: rgb(211, 17, 65); }
a:active { color: rgb(54, 138, 210); }
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link { color: rgb(255, 255, 255); }
#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited { color: rgb(255, 255, 255); }
#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover { color: rgb(168, 216, 255); }
#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active { color: rgb(200, 230, 255); }
.postlink { color: rgb(54, 138, 210); border-bottom-color: rgb(54, 138, 210); }
.postlink:visited { color: rgb(93, 143, 189); border-bottom-color: rgb(93, 143, 189); }
.postlink:active { color: rgb(54, 138, 210); }
.postlink:hover { background-color: rgb(208, 228, 246); color: rgb(13, 68, 115); }
.signature a, .signature a:visited, .signature a:hover, .signature a:active { background-color: transparent; }
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a { color: rgb(16, 82, 137); }
.postprofile a:hover, .postprofile dt.author a:hover { color: rgb(211, 17, 65); }
.postprofile a:active { color: rgb(16, 82, 137); }
a.top { background-image: url("icon_back_top.gif"); }
a.left { background-image: url("arrow_left.gif"); }
a.right { background-image: url("arrow_right.gif"); }
a.left:hover { color: rgb(54, 138, 210); }
a.right:hover { color: rgb(54, 138, 210); }
.postbody { color: rgb(51, 51, 51); }
.content { color: rgb(51, 51, 51); }
.signature { border-top-color: rgb(204, 204, 204); }
blockquote { background-color: rgb(235, 234, 221); background-image: url("quote.gif"); border-color: rgb(219, 219, 206); }
blockquote blockquote { background-color: rgb(239, 238, 217); }
.postprofile { color: rgb(102, 102, 102); border-left-color: rgb(255, 255, 255); }
.postprofile strong { color: rgb(0, 0, 0); }
.reply-icon span { background-image: url("button_topic_reply.gif"); }
a.print { background-image: url("icon_print.gif"); }
a.sendemail { background-image: url("icon_sendemail.gif"); }
a.fontsize { background-image: url("icon_fontsize.gif"); }
.icon-faq { background-image: url("icon_faq.gif"); }
.icon-members { background-image: url("icon_members.gif"); }
.icon-home { background-image: url("icon_home.gif"); }
.icon-ucp { background-image: url("icon_ucp.gif"); }
.icon-register { background-image: url("icon_register.gif"); }
.icon-logout { background-image: url("icon_logout.gif"); }
.icon-bump { background-image: url("icon_bump.gif"); }
.web-icon, .web-icon a { background-image: url("icon_contact_www.gif"); }
.quote-icon, .quote-icon a { background-image: url("icon_post_quote.gif"); }
.report-icon, .report-icon a { background-image: url("icon_post_report.gif"); }
select { border-color: rgb(102, 102, 102); background-color: rgb(250, 250, 250); color: rgb(0, 0, 0); }
label { color: rgb(66, 80, 103); }
.inputbox { background-color: rgb(255, 255, 255); border-color: rgb(180, 186, 192); color: rgb(51, 51, 51); }
.inputbox:hover { border-color: rgb(17, 163, 234); }
.inputbox:focus { border-color: rgb(17, 163, 234); color: rgb(15, 73, 135); }
a.button1, input.button1, input.button3, a.button2, input.button2 { color: rgb(0, 0, 0); background-color: rgb(250, 250, 250); background-image: url("bg_button.gif"); }
a.button2, input.button2, input.button3 { border-color: rgb(102, 102, 102); }
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover { border-color: rgb(188, 42, 77); color: rgb(188, 42, 77); }
input.search { background-image: url("icon_textbox_search.gif"); }
